.adbody {
  background-color: white;
}

.logocont {
  text-align: center;
  padding-top: 2rem;
}

.logoimg {
  width: 15vw;
  padding: 1rem;
}

table {
  color: white;
  height: 70vh;
  width: 70vw;
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: 1000;
  font-size: 2.5rem;
  border-spacing: 3vw;
}

td {
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

.footer {
  margin: 0 auto;
  width: 50vw;
  text-align: center;
}

.footertxt {
  color: black;
  font-family: sans-serif;
  font-weight: 1000;
}

.counter {
  padding-top: 1rem;
}

.counterfill {
    font-family: sans-serif;
    background-color: #b3b3b2;
    font-weight: 1000;
    padding: 0.5rem 6rem;
    font-size: 1.5rem;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
