html, body {
  background-color: #bdbdbd !important;
  margin:0;
  padding:0;
  font-family: monospace !important;
  font-size: 1.5rem !important;
  font-weight: 700;
  color: black !important;
}

svg, svg * {
  pointer-events: none;
}

svg {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height:100vh;
  width:100vw;
  position: fixed;
}

.svg_container {
  position: relative;
  height: 21vh;
  margin: 0 auto;
  width: 71vw;
}
path {
  stroke: black;
  fill:none;
  pointer-events:all;
}

.about_svg:hover, .works_svg:hover, .contact_svg:hover, .home_svg:hover, .homepath:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.path1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2.5s linear alternate forwards;
  stroke-linecap: round;
  stroke-width: 10px;
}

.path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear alternate forwards;
  animation-delay: 0.5s;
  stroke-linecap: round;
  stroke-width: 10px;
}

.path3 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear alternate forwards;
  animation-delay: 1.0s;
  stroke-linecap: round;
  stroke-width: 10px;
}

.path4 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear alternate forwards;
  animation-delay: 1.5s;
  stroke-linecap: round;
  stroke-width: 10px;
}

.path5 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate forwards;
  animation-delay: 0.7s;
  stroke-linecap: round;
  stroke-width: 3px;
}

.path6 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate forwards;
  animation-delay: 1.2s;
  stroke-linecap: round;
  stroke-width: 3px;
}

.path7 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate forwards;
  animation-delay: 1.7s;
  stroke-linecap: round;
  stroke-width: 3px;
}

.path8 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate forwards;
  animation-delay: 2.0s;
  stroke-linecap: round;
  stroke-width: 3px;
}

.homepath {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate forwards;
  stroke-linecap: round;
  stroke-width: 3px;
}

.geared {
  padding-top: 4rem;
  margin-left: 10vw;
  transform: scale(0,0);
  transition: all 1.5s ease;
  transition-delay: 2.5s;
  width: 256px;
  z-index: 999;
}

.roto {
  width: 256px;
  transition: all  0.5s ease;
}

.textpop {
  transition: all 0.5s ease;
  width: 45vw;
  position: absolute;
  top: 35vh;
  left: 30vw;
  margin: 0 auto;
  opacity: 0;
  z-index: -1;
}

.anchor {
  transition: all 0.5s ease;
  position: absolute;
  width: 256px;
  right: 10vw;
}

.hammered {
  transform: scale(0,0);
  transition: all 1.5s ease;
  transition-delay: 3.0s;
  width: 256px;
  z-index: 999;
  float: right;
}

.textpoop {
  transition: all 0.5s ease;
  width: 47vw;
  position: absolute;
  top: 83vh;
  right: 12vw;
  margin: 0 auto;
  opacity: 0;
  z-index: -1;
}

.home_svg {
  position: relative;
  height: 21vh;
  margin: 0 auto;
  width: 71vw;
}

.leggyboy {
  width: 30vw;
  margin: 0 auto;
  padding-top: 6rem;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
